

<app-header></app-header>
<br><br><br>


<div class="container-fluid">
	
</div>






<!-- 
<div class="container-fluid table-layout">
	<div id="bg-container">
		<div class="left" id="fixedSubMenu" >
			<ul class="sub-menu theme-1">
				<li class="project-listing" [routerLink]="['/developer/projects']">
					<span class="star" routerLinkActive="show-star" routerLinkActive="show-star" routerLink="/developer/projects" routerLinkActive="show-star" [routerLinkActiveOptions]="{exact:
true}">*</span>Projects
				</li>
				<li class="project-listing" [routerLink]="['/developer/skills']">
					<span class="star" routerLinkActive="show-star" routerLink="/developer/skills" routerLinkActive="show-star" [routerLinkActiveOptions]="{exact:
true}">*</span>Skills
				</li>
				<li class="project-listing" [routerLink]="['/developer/experience']">
					<span class="star" routerLinkActive="show-star" routerLink="/developer/experience" routerLinkActive="show-star" [routerLinkActiveOptions]="{exact:
true}">*</span>Experience
				</li>
				<li class="project-listing" [routerLink]="['/developer/resume']">
					<span class="star" routerLinkActive="show-star" routerLink="/developer/resume" routerLinkActive="show-star" [routerLinkActiveOptions]="{exact:
true}">*</span>Resume
				</li>
			</ul>
		</div>
		<div class="right">
		    <experience></experience>
			<br><br><br><br><br><br>
			<resume></resume>
			<br><br><br><br><br><br>
			<projects></projects>
			<br><br><br><br><br><br> 
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
 
 -->
