
	<div class="row">
		<div class="cols-sm-12">
			<div class="white-panel">
				<div class="inner-white-panel">
					<h4>Languages:</h4>Python, Java
					<br><br><br>
					<h4>Web Development:</h4> webpack, MEAN Stack, TypeScript, Sass, HTML, CSS
					<br><br><br>
					<h4>Web Frameworks:</h4> Angular2, Flask, CodeIgniter, Apex
					<br><br><br>
					<h4>Databases:</h4>SQL, MongoDB
					<br><br><br>
					<h4>Software Tools:</h4>Git, Vagrant
					<br><br><br>
					<h4>DevOps</h4>
					AWS Solutions Architect, Developer, and SysOps certifications, Chef. RHEL7
				</div>
			</div>
		</div>
	</div>
