$navbar_height: 90px;

#navbar {
  	height: $navbar_height;
  	position: fixed;

	img {
		   position:absolute;
		    top:0px;
		    height: $navbar_height;
		    width: auto;
		    display:block;
		    left: 20px;
		    
	}
}