html, body{
	height: 100%;
}

body{
/*	background-image: url('../icons/wood.jpg'); */
	background-repeat: repeat;
	background-size: 100%;
	font-family: "Inconsolata", Andale Mono, Monaco, Monospace;

  #outermost{
    background-color: rgba(0,3,8, .9);
    overflow-y: hidden;
    overflow-x: hidden;
      height: 100%;
      margin: 0px;
      padding: 0px;
        float:left;
      width:100%;
      margin:0;
      padding:0;
      text-align: center;
      border: 2px solid blue;
  }


}

.center-content-h{	
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.fill { 
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    margin: 0px;
    padding: 0px;
}

#fixedSubMenu{
    position: fixed;
}



.white-panel{
    position: relative;
    height: auto;
    margin:30px;
    border-radius: 3px;
    color: #d4d4d6;
-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
    font-size: 12px;


    .inner-white-panel{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
    /*  background-color: rgba(22,22,22,.5); */


      p {

      }
    }

}

.white-panel::after {
  content: "";
  background: url('../icons/graph.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: 30%;
}

.page{
  height: 100%;
  width: 100%;

}

.signature{
  color:#afbacc;
  font-weight: bolder;
}

.sub-menu{

  .star {
    color: white;
    font-size: inherit;
    visibility: hidden; 
  }

  li.project-listing {
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    list-style-type: none; 
  }

  .project-listing:hover, .show-star {
    visibility: visible;
    color: white;
  }
}










.theme-1 {
  color: #949ba8;
  color: #e2c1ae;
}

.theme-2 {
  color: white;


}

.theme-3 {
  color: #aeaeaf;

}

.theme-4 {
  color: #e0f0f9;  
}

.theme-5 {
  
}


