html, body {
  height: 100%; }

body {
  background-image: url("../icons/wood.jpg");
  background-repeat: repeat;
  background-size: 100%;
  font-family: "Inconsolata", Andale Mono, Monaco, Monospace; }
  body #outermost {
    background-color: rgba(0, 3, 8, 0.9);
    overflow-y: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px; }

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.fill {
  min-height: 100%;
  height: auto !important;
  /* cross-browser */
  height: 100%;
  /* cross-browser */
  margin: 0px;
  padding: 0px; }

.white-panel {
  position: relative;
  height: auto;
  margin: 30px;
  border-radius: 3px;
  color: #f4f8ff;
  -webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.75); }
  .white-panel .inner-white-panel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); }
  .white-panel h4 {
    color: #bcc4d1; }

.white-panel::after {
  content: "";
  background: url("../icons/graph.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 30%; }

.page {
  height: 100%;
  width: 100%; }

.signature {
  color: #afbacc;
  font-weight: bolder; }

.sub-menu li {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  list-style-type: none; }
