.tag {
  display: inline-block;
  padding: 5px 3px;
  background-color: #2b2c2d;
  color: #999;
  border-width: 1px 2px 3px 1px;
  border-style: solid;
  border-color: #222;
  border-color: #1c1c1c;
  border-radius: 3px;
  margin: 3px;
  margin-left: 6px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
