	<div class="row">
		<div class="cols-sm-12">
			<div class="white-panel">
				<div class="inner-white-panel">
					<div class="company">
						<h4 class="theme-2">Booz Allen Hamilton<br><small>Software Engineer/Consultant</small></h4>
						<p>I currently work for Booz Allen’s Strategic Innovation Group. Booz Allen Hamilton is a  management and technology consulting services for the US government in defense, intelligence, and civil markets</p>
						<h5 class="theme-3">Projects</h5>
						<ul>
							<li>
								<p>
								Veterans Affairs Mobile Infrastructure Group - Wrote provisioning scripts using <i>Chef</i> and <i>Vagrant</i> to build a reproducible Mac OS El Capitan development environment for VA mobile apps.
								</p>
								<span class="theme-4">VirtualBox Chef BashScripting Vagrant Packer OSXCapitan</span>
							</li>
							<li>
								<p>
								Veterans Affairs Mobile Infrastructure Group - Wrote provisioning scripts using <i>Chef</i> and <i>Vagrant</i> to build a reproducible Mac OS El Capitan development environment for VA mobile apps.
								</p>
								<span class="theme-4">VirtualBox Chef BashScripting Vagrant Packer OSXCapitan</span>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
