
<div class="row">
	<div class="col-xs-12 col-sm-3" *ngFor="let project of projects">
		<div class="center-content-h project" [ngStyle]="{'background-image':'url(icons/' + project.img_name + ')'}" >
			<div class="title">
				{{project.name}}
			</div>
			<div class="content" style="">
				<p>{{project.short_desc}}</p>
			</div>
		</div>
		<br><br><br><br>
	</div>
</div>



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>